{% extends 'format.html' %}

{% block title %}More - Brain Tumor Detection{% endblock %}

{% block content %}
<section class="about-section" style="background-color: #fff;">
    <div class="container" style="max-width: 1200px; margin: 0 auto; display: flex; flex-wrap: wrap; justify-content: space-around;">
      <div class="about-content">
        <h1 class="about-heading">About Us</h1>
        <p>Welcome to our Brain Tumor Detection website!</p>
        <p>We are passionate about leveraging cutting-edge technology to aid in the early detection of brain tumors through MRI scans.</p>
        <p>Our dedicated team of experts in machine learning and healthcare is committed to providing accurate and efficient diagnostic solutions to improve patient outcomes.</p>
        <p>At Brain Tumor Detection, we strive to make a meaningful impact by empowering healthcare professionals and individuals with advanced tools for early intervention and treatment.</p>
      </div>
    </div>
  </section>
  <footer><br>
    <h2 style="margin-left: 200px;"> Team Details: </h2>
    <div class="container" style="max-width: 1200px; margin: 0 auto; display: flex; flex-wrap: wrap; justify-content: space-around;">
        <div class="card" style="width: 300px; background-color: #fff; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 8px; overflow: hidden; margin: 30px;">
          <img src="static/A1.png" alt="Team Member 1" style="width: 110px; height: 110px; object-fit: cover; border-radius: 50%; margin: auto; display: block;">
          <div class="card-content" style="padding: 20px;">
            <h3>Abhinav</h3>
            <h5>245121737004@mvsrec.edu.in</h5>
          </div>
        </div>
        <div class="card" style="width: 300px; background-color: #fff; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 8px; overflow: hidden; margin: 20px;">
          <img src="static/A2.png" alt="Team Member 2" style="width: 110px; height: 110px; object-fit: cover; border-radius: 50%; margin: auto; display: block;">
          <div class="card-content" style="padding: 20px;">
            <h3>Abhishek Reddy</h3>
            <h5>245121737006@mvsrec.edu.in</h5>
          </div>
        </div>
        <div class="card" style="width: 300px; background-color: #fff; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 8px; overflow: hidden; margin: 20px;">
          <img src="static/P1.png" alt="Team Member 3" style="width: 110px; height: 110px; object-fit: cover; border-radius: 50%; margin: auto; display: block;">
          <div class="card-content" style="padding: 20px;">
            <h3>Pragyna</h3>
            <h5>245121737053@mvsrec.edu.in</h5>
          </div>
        </div>
      </div>
  </footer>
{% endblock %}
