{% extends 'format.html' %}

{% block title %}More - Brain Tumor Detection{% endblock %}

{% block content %}
<head>
  <style>
    h2{
      margin-left: 45px;
    }
  </style>
</head>
<section class="about-section">
    <div class="container">
      
      <div class="about-content" style="overflow-x: hidden; padding-right: 40px;">
        <h1 class="about-heading"></h1>
        <h1>Brain Tumors</h1>
    
        <p>A brain tumor is a growth of cells in the brain or near it. Brain tumors can happen in the brain tissue. Brain tumors also can happen near the brain tissue. Nearby locations include nerves, the pituitary gland, the pineal gland, and the membranes that cover the surface of the brain.</p>
        
        <p>Brain tumors can begin in the brain. These are called primary brain tumors. Sometimes, cancer spreads to the brain from other parts of the body. These tumors are secondary brain tumors, also called metastatic brain tumors.</p>
        
        <p>Many different types of primary brain tumors exist. Some brain tumors aren't cancerous. These are called noncancerous brain tumors or benign brain tumors. Noncancerous brain tumors may grow over time and press on the brain tissue. Other brain tumors are brain cancers, also called malignant brain tumors. Brain cancers may grow quickly. The cancer cells can invade and destroy the brain tissue.</p>
        
        <p>Brain tumors range in size from very small to very large. Some brain tumors are found when they are very small because they cause symptoms that you notice right away. Other brain tumors grow very large before they're found. Some parts of the brain are less active than others. If a brain tumor starts in a part of the brain that's less active, it might not cause symptoms right away. The brain tumor size could become quite large before the tumor is detected.</p>
        
        <p>Brain tumor treatment options depend on the type of brain tumor you have, as well as its size and location. Common treatments include surgery and radiation therapy.</p>
        
        <h2 style="margin-left: 45px;">Types</h2>
        <p>There are many types of brain tumors. The type of brain tumor is based on the kind of cells that make up the tumor. Special lab tests on the tumor cells can give information about the cells. Your health care team uses this information to figure out the type of brain tumor.</p>
        
        <p>Some types of brain tumors usually aren't cancerous. These are called noncancerous brain tumors or benign brain tumors. Some types of brain tumors usually are cancerous. These types are called brain cancers or malignant brain tumors. Some brain tumor types can be benign or malignant.</p>
        
        <p>Benign brain tumors tend to be slow-growing brain tumors. Malignant brain tumors tend to be fast-growing brain tumors.</p>
      

        <h1>Types of Brain Tumors</h1>
    
        <h2>Gliomas and Related Brain Tumors</h2>
        <p>Gliomas are growths of cells that look like glial cells. The glial cells surround and support nerve cells in the brain tissue. Types of gliomas and related brain tumors include:</p>
        <ul>
          <li style="margin-left: 30px;font-size: large;">Astrocytoma</li>
          <li style="margin-left: 30px;font-size: large;">Glioblastoma</li>
          <li style="margin-left: 30px;font-size: large;">Oligodendroglioma</li>
          <li style="margin-left: 30px;font-size: large;">Ependymoma</li>
        </ul>
        <p>Gliomas can be benign, but most are malignant. Glioblastoma is the most common type of malignant brain tumor.</p>
    
        <h2>Choroid Plexus Tumors</h2>
        <p>Choroid plexus tumors start in cells that make the fluid that surrounds the brain and spinal cord, called cerebrospinal fluid. They can be benign or malignant. Choroid plexus carcinoma is the malignant form of this type of brain tumor, and it's more common in children.</p>
    
        <h2>Embryonal Tumors</h2>
        <p>Embryonal tumors begin in cells left over from fetal development and are most common in babies and young children. The most common type is medulloblastoma, usually located in the cerebellum.</p>
    
        <h2>Germ Cell Tumors</h2>
        <p>Germ cell tumors start in reproductive cells, often near the pineal gland or pituitary gland. They are mostly benign and more common in children.</p>
    
        <h2>Pineal Tumors</h2>
        <p>Pineal tumors start in and around the pineal gland, often found in children. Pineoblastoma is a malignant type of pineal tumor.</p>
    
        <h2>Meningiomas</h2>
        <p>Meningiomas start in the membranes around the brain and spinal cord. They are usually benign but can sometimes be malignant.</p>
    
        <h2>Nerve Tumors</h2>
        <p>Nerve tumors are growths that happen in and around nerves. Acoustic neuroma, also called schwannoma, is a common type located on the main nerve connecting the inner ear to the brain.</p>
    
        <h2>Pituitary Tumors</h2>
        <p>Pituitary tumors can begin in and around the pituitary gland, located near the base of the brain. Most are benign, but some can be malignant. Craniopharyngioma is a type of tumor that happens near the pituitary gland.</p>
    
        <h2>Other Brain Tumors</h2>
        <p>Many other types of rare tumors can happen in and around the brain, including those starting in muscles, blood vessels, connective tissue, or bones of the skull. Malignant brain tumors can also start from immune system cells in the brain, called primary central nervous system lymphoma.</p>

      </div>
    </div>
  </section>
{% endblock %}
